@import '~styles/settings/settings';

.testimonials {
  background-image: url('./bg.jpg');
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center top;

  padding-top: 160px;
  padding-bottom: 160px;
  @include breakpoint(small only) {
    padding-top: 128px;
    padding-bottom: 32px;
    background-image: url('./mbg.jpg');
    background-size: 100% 100%;
  }

  &__title {
    color: #33217e;
    font-size: $fs-hg;
    margin-bottom: rem-calc(24);
    letter-spacing: 0;
    line-height: rem-calc(48px);
    @include breakpoint(small only) {
      font-size: rem-calc(20px);
      line-height: rem-calc(28px);
    }
  }
  &__slider {
    width: 1266px;
    margin: 0 auto;
    @include breakpoint(small only) {
      width: 100%;
    }
    .slick-track {
      display: flex;
    }
    .slick-prev-button {
      top: 0;
      position: absolute;
      right: 107px;
      z-index: 1000;
    }
    .slick-next-button {
      top: 0;
      position: absolute;
      transform: none;
      right: 55px;
      z-index: 1000;
    }
    @include breakpoint(small only) {
      .slick-prev-button {
        bottom: 0;
        top: inherit;
        position: absolute;
        left: calc(50% - 48px);
        margin-right: 10px;
        z-index: 1000;
      }
      .slick-next-button {
        bottom: 0;
        top: inherit;
        position: absolute;
        transform: none;
        left: calc(50% + 16px);
        margin-left: 10px;
        z-index: 1000;
      }
    }
  }
  &__getstarted {
    align-items: center;
    justify-content: center;
    margin-top: rem-calc(160px);
    @include breakpoint(small only) {
      margin-top: rem-calc(128px);
    }
  }
  &__getstartedTitle {
    font-family: Helvetica;
    font-size: rem-calc(40px);
    color: #33217E;
    letter-spacing: 0;
    line-height: rem-calc(48px);
    margin-bottom: rem-calc(16);
    @include breakpoint(small only) {
      font-size: rem-calc(20px);
      line-height: rem-calc(28px);
    }
  }
  &__getstartedSubtitle {
    font-family: Helvetica;
    font-size: rem-calc(18px);
    color: #3D3E6F;
    letter-spacing: 0;
    line-height: rem-calc(32px);
    margin-bottom: rem-calc(45);
    @include breakpoint(small only) {
      font-size: rem-calc(14px);
      line-height: rem-calc(24px);
      padding-left: rem-calc(98px);
      padding-right: rem-calc(98px);
    }
  }
  &__getstartedButton {
    padding-right: $rem-xxl !important;
    padding-left: $rem-xxl !important;
    font-family: Helvetica !important;
    font-size: rem-calc(18px) !important;
    font-weight: normal;
    color: #FFFFFF !important;
    letter-spacing: 0 !important;
    line-height: rem-calc(64px) !important;
    background-image: linear-gradient(-135deg, #6EDFFF 0%, #37C7FF 100%);
    @include breakpoint(small only) {
      font-size: rem-calc(18px) !important;
      letter-spacing: 1px !important;
      padding: 0px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__request {
    font-family: Helvetica !important;
    font-weight: normal;
    font-size: rem-calc(18px) !important;
    color: #19ACE6 !important;
    letter-spacing: 0 !important;
    line-height: rem-calc(32px) !important;
    text-transform: inherit;
    @include breakpoint(small only) {
      font-size: rem-calc(14px) !important;
      line-height: rem-calc(24px) !important;
      text-decoration: none;
    }
  }
  &__or{
    font-size: rem-calc(18px);
    color: #B0B1D2;
    letter-spacing: 0;
    line-height: rem-calc(32px);
    @include breakpoint(small only) {
      font-size: rem-calc(14px);
      line-height: rem-calc(24px);
      justify-content: center;
      padding-top: rem-calc(16px);
      padding-bottom: rem-calc(8px);
      margin-bottom: 0;
    }
  }
  &__arrow--left {
    @include breakpoint(small only) {
      padding-right: rem-calc(16px);
      padding-left: rem-calc(132px);
    }
  }
  &__buttons {
    @include breakpoint(small only) {
      padding-left: rem-calc(85px) !important;
      padding-right: rem-calc(85px) !important;
    }
  }
}
